name: Editable build using pip and pre-release NumPy

on:
  push:
    branches:
      - master
  pull_request:

permissions: read-all

env:
  PACKAGE_NAME: mkl_fft
  MODULE_NAME: mkl_fft
  TEST_ENV_NAME: test_mkl_fft

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
         shell: bash -el {0}

    strategy:
      matrix:
        python: ['3.10', '3.11', '3.12', '3.13']
        use_pre: ["", "--pre"]

    steps:
      - name: Install jq
        shell: bash -l {0}
        run: |
          sudo apt-get install jq

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - uses: conda-incubator/setup-miniconda@fc2d68f6413eb2d87b895e92f8584b5b94a10167 # v3.3.0
        with:
          use-mamba: true
          miniforge-version: latest
          channels: conda-forge
          conda-remove-defaults: true
          activate-environment: test
          python-version: ${{ matrix.python }}

      - name: Install MKL
        run: |
          conda install mkl-devel mkl-service
          python -c "import sys; print(sys.executable)"
          which python
          python -c "import mkl; print(mkl.__file__)"

      - name: Build conda package
        run: |
          pip install --no-cache-dir cython setuptools
          pip install --no-cache-dir numpy ${{ matrix.use_pre }}
          echo "CONDA_PREFFIX is '${CONDA_PREFIX}'"
          export MKLROOT=${CONDA_PREFIX}
          pip install -e .[test] --no-build-isolation --verbose
          pip list
          python -m pytest -v mkl_fft/tests
